<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9684f1ae-1a49-4c96-9ece-74a0adb6bba3/resourcegroups/e-auctionresource/providers/Microsoft.Web/sites/EAuctionBuyerAppService</ResourceId>
    <ResourceGroup>e-auctionresource</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://eauctionbuyerappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>aadbeb22-2552-429d-b7c4-84cc391a8f76</ProjectGuid>
    <PublishUrl>https://eauctionbuyerappservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EAuctionBuyerAppService</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>