################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EAuction.Getway/charts/eauctiongetway/templates/deployment.yaml
